@use "../../styles/index.scss" as common;

.hindavi-ads-forgot-password-container {
  display: flex;
  height: 100vh;
  width: 100%;

  .left-section {
    @include common.left-section-mixin();
  }

  .right-section {
    @include common.right-section-mixin();

    .form-container {
      width: 100%;
      max-width: 400px;
      .from-header {
        @include common.form-header-mixin();
      }
      form {
        .user-details {
          .form-group {
            @include common.form-group-mixin();
          }
        }
        .submit-btn-container {
          @include common.submit-container-mixin();
        }
      }

      .change-number {
        padding-left: 12px;
      }
    }
  }
}
